#login {
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    background: linear-gradient(120deg, #ffffff 44.9%, #4c79d3 45%) no-repeat fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    border-bottom: 1p solid #bebebe;
    padding: 5;
    background-color: #ffffff;
}

.color-primary {
    color: #4e0070;

}

.color-secondary {
    color: #4c79d3;
}

.icon-detail {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}


.text-login {

    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.coins {
    position: absolute;
    bottom: 100px;
}

.button-login {
    background-color: #4e0070;
    border-radius: 10px;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.button-login:hover,
.button-default:hover {
    background-color: #4c79d3;
    color: #ffffff;
}

.button-default {
    background-color: #4e0070;
    border-radius: 10px;
    color: #ffffff;
}

.button-cancel {

    border-radius: 10px;
}

.button-float {
    align-items: center;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color: #4e0070;
    color: #ffffff;
    padding: 0 !important;
    border: 2px solid #4e0070;
}

.button-float:hover {
    background-color: #ffffff;
    border: 2px solid #4c79d3;
    color: #4c79d3;

}



.link-default {
    color: #4e0070;
    cursor: pointer;
}

.link-default:hover {
    color: #4c79d3;
}

.form-text {
    color: #8d8d8d;
    font-size: 14px;
}

.image-default {
    width: 50%;
}


.info {
    background-color: #ffffff;
    border-radius: 16px 16px 0px 0px;
    padding: 20px 0 0 0;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}